# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
scripts/** linguist-detectable=false
.envrc linguist-detectable=false
justfile linguist-detectable=false
Makefile linguist-detectable=false

