name: Package Test

on:
  workflow_call:
    inputs:
      package-name:
        required: true
        type: string
      package-path:
        required: true
        type: string

jobs:
  stub:
    runs-on: ubuntu-latest
    steps:
      - name: Workflow stub
        run: echo "Stub - full implementation in PR"
